@import '~styles/variables';

.fp-home-page-component {

  ng-transclude {
    & > * {
      display: block;
      border: 1px dashed gray;
      padding: 5px;
      margin-top: 20px;
    }
  }

}

// local styles
