@import '~styles/variables';

fp-input {

  &.ng-valid {
    .fp-input-component {
      border-color: green;
    }
  }
  &.ng-invalid {
    .fp-input-component {
      border-color: red;
    }
  }
}

.fp-input-component {

  padding: 4px;

  border: {
    color: transparent;
    width: 2px;
    style: solid;
  }

  input {
    padding: 3px;

    &:focus {
      outline: none;
    }

  }

}
